/fetch_disinfectant_project_moveit_config/src/movegroupinterface.pyc
/fetch_disinfectant_project_moveit_config/src/plane_fitting.pyc
/fetch_disinfectant_project_moveit_config/src/movegroupinterface.pyc
/fetch_disinfectant_project_moveit_config/src/test_move_fetch.py
/fetch_disinfectant_project_moveit_config/src/move_fetch.py
